.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Para navegadores basados en WebKit (Chrome, Safari, Edge) */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Para Internet Explorer y Edge (versiones antiguas) */
  scrollbar-width: none; /* Para Firefox */
}
